.search {
    /* width: 50%;
    margin: auto; */
    padding: 15px;
}

.searchInput {
    /* margin-top: 105px;
    display: flex; */
    background-color: whitesmoke;
    border-radius: 10px;
    color: white;
}

