.toggle {
	width: 100%;
	background: #0022121;
	border: unset;
	cursor: pointer;
	font: unset;
	padding: 0.3rem;
	margin-bottom: 0.5rem;
	color: white;
	border: 5px solid rgba(0,0,0, 0.45);
	font-family: 'Lato';
	font-size: inherit;
	padding: 25px 8px;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.toggle:hover {
	border: 15px solid rgba(0,0,0, 0.45);
}


/*  buttons */
.toggle.Ecology { background: #c0392b; width:75%; left: 24%; }
.toggle.Economics{ background: #005EFD; width:75%; left: 24%; }
.toggle.Politics{ background: #BDA74E; width:75%; left: 24%; }
.toggle.Culture{ background: #3E6315; width:75%; left: 24%; }

.DomainInfo{
	padding: 10px;
}
.for-icon{
	height: 75px;
}
.for-icon.Ecology { background-image: url("./ecology.png");   background-repeat: no-repeat, repeat; z-index:1; background-size : contain;}
.for-icon.Economics { background-image: url("./economics.png");   background-repeat: no-repeat, repeat; z-index:1; background-size : contain;}
.for-icon.Politics { background-image: url("./politics.png");   background-repeat: no-repeat, repeat; z-index:1; background-size : contain;}
.for-icon.Culture { background-image: url("./cultural.png");   background-repeat: no-repeat, repeat; z-index:1; background-size : contain;}

/* ------------------------------------------- */


.contents {
	color: white;
}

ul {
	list-style-type: none;	
	}

h3 {
	background: #000123;
	border: 3px solid rgba(0,0,0, 0.45);
}

h3:hover {
	background: #00112a;
	border: 5px solid rgba(0,0,0, 0.45);
}

